h1 {
    text-align:center;
    background-color:rgb(86, 120, 182);
}

h2 {
    text-align: center;
    background-color: rgb(86, 120, 182);
}

h3 {
    font-style: none;
    text-align: center;
}

h4 {
    font-size: large;
    background-color: rgb(86, 120, 182);
}
p {
    text-align: left;
    font-size: medium;
    margin-left: 3%

}
strong {
    font-size:medium;
}

body {
    background-color: rgb(44, 157, 177);
}
.imagem1 {
    width: 400px;
}
.imagemcentralizada {
 text-align: center;
}

.parágrafo1 {
    font-size: medium;
}


.lista {
    display: inline-block;
    padding: 3%;
    margin-right: 3%;
    padding: 3%;
    border-color: rgb(86, 120, 182);
    border-width: 10px;
    border-style: solid;
}
