h1 {
    text-align:center;
    background-color: rgb(86, 120, 182);
}

.paragrafotitulo {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: rgb(86, 120, 182);
}

h3 {
    font-style: none;
    text-align: center;
    
}
.titulo2pt1 {
    background-color: rgb(86, 120, 182);
}

.titulo3pt2 {
    text-align: left;
    margin-left: 3%

}

h4 {
    font-size: large;
    background-color:  rgb(86, 120, 182);
}
p {
    text-align: left;
    font-size: medium;
    margin-left: 3%

}
strong {
    font-size:medium;
}

body {
    background-color: rgb(44, 157, 177);
}
.imagem1 {
    width: 400px;
}
.imagemcentralizada {
 text-align: center;
}

.parágrafo1 {
    font-size: medium;

}
.parágrafo2 {
   font-color: rgb(255, 255, 255);
    font-style: none
}


.lista {
        display: grid;
        padding: 0,5%;
        margin-right: 10%;
    }
