h1 {
    text-align:center;
    background-color: aqua;
}
h2{
    text-align: center;
}
h3{
    font-style: none;
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size:medium;
}

body {
    background-color: rgb(187, 240, 215);
}
.imagem1 {
    width: 300px;
}
.imagemcentralizada {
 text-align: center;
}

.parágrafo1 {
    font-size: medium;

}
.parágrafo2 {
   color: rgb(2, 5, 2);
    font-style: none
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }
